.text-line {
    background-color: transparent;
    color: black;
    outline: none;
    width: 100%;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 1px;
    padding: 3px 10px;
}